{% extends "base/main.html" %}

{% block title %}
characters 
{% endblock %}

{% block content %}

<style>

    h3{
        color: white;
        font-weight: 100;
    }
    .heading{
        padding-top: 100px;
        text-align: center;
    }
    h1{
        text-align: center;
        color: #FFE44C;
        font-weight: 400;
    }
    .create-btn{
        color: white;
    }
    .character-btn{
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; 
        text-decoration: none;
        font-size: 20px;
    }
    .delete{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; 
        text-decoration: none;
        color: red;
    }
    .characterlist{
        padding-bottom: 500px;
    }
</style>

<div class="heading">
    <h1>Characters</h1>
    <a href="{% url 'new-character'%}"class="create-btn">Create a new character</a>
    <br><br>
</div>

<div class="characterlist">
    {% for character in characters %}
    <div class="character-wrapper" data-position="{{character.pk}}">
        <div class="character-title">
            <a class="character-btn"href="{% url 'character-update' character.id%}">- {{character}}</a>
            <a class="delete"href="{% url 'character-delete' character.id %}">>Delete</a><br>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No characters have been created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #61c1f9bb;" href="{% url 'new-character' %}">New character</a> ! </h3>
    </div>
    {% endfor %}
</div>

{% endblock content %}